<!DOCTYPE html>
<html>

<head>
<title>prof details</title>
<h1>list of prof names:</h1>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        {% for postNumber in posts %}
        <p style="font-size:160%;">{{postNumber.prof}}</p>
        <p style="text-indent: 40px">class: {{postNumber.class}}</p>

        <p style="text-indent: 40px">times per week: {{postNumber.quantity}}</p>
        {% endfor %}
</body>
</html>    