<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>view</title>
</head>
<body>
  <main>
  <nav>
   <ul class="nav_menu">
      <li>
          <a href="room" class="menu-tap">
            <div class="menu-tap_wrap">
             Room
           </div>
          </a>
      </li>
      <li>
       <a href="generate" class="menu-tap">
         <div class="menu-tap_wrap">
          Generate
        </div>
       </a>
    </li>
    <li>
      <a href="constraints" class="menu-tap">
      <div class="menu-tap_wrap">
      Constraints
      </div>
      </a>
    </li>
    <li>
      <a href="view" class="menu-tap menu-tap--selected">
        <div class="menu-tap_wrap">
          View
        </div>
      </a>
    </li>
    <li>
    <div class="space_logout"></div>
    <button onclick="myFunction()">Logout</button>
  </li>
  </ul>
  </nav>

{% block content %}
  <!--Navtabs-->
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
<div class="container">
  <ul class="nav nav-tabs"  id="og_tabs">

    {% for name in range((ls_names|length)) %}
    <li role="presentation" ><a href="{{'#%s'%ls_names[name]}}"  data-toggle="tab">{{ls_names[name]}}</a></li>
    {% endfor %}
  </ul>
  <div class="tab-content">

    {% for name in range((ls_names|length)) %}
        <div id = "{{'%s'%ls_names[name]}}" class="tab-pane">
        <ul class="nav nav-tabs" id="{{'#%s_tabs'%ls_names[name]}}" >
        {% for room in range((ls_rooms|length)) %}
          <li role="presentation" ><a href="{{'#%s%s'%(ls_names[name],ls_rooms[room].replace('.',''))}}"  data-toggle="tab">{{ls_rooms[room]}}</a></li>
        {% endfor %}
      </ul>
    </div>


    {% endfor %}

    {% for name in range((ls_names|length)) %}
    <div class="tab-content" id ="{{'%s'%ls_names[name]}}">
        {% for room in range((ls_rooms|length)) %}
        <div class = "tab-pane" id="{{'%s%s'%(ls_names[name],ls_rooms[room].replace('.',''))}}">{{list_of_week_type[name][room] | safe}}</div>
        {% endfor %}
    </div>
    {% endfor %}
      <!-- <ul class="nav nav-tabs" role="tablist">
      {% for i in range((ls_rooms|length)) %}
        <li role="presentation" ><a href="{{'#%s'%ls_rooms[i].replace('.','')}}"  role="tab" data-toggle="tab">{{ls_rooms[i]}}</a></li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% for i in range((ls_rooms|length)) %}
      <div role = "tabpanel" class = "tab-pane fade" id="{{ls_rooms[i].replace('.','')}}">{{list_of_week_type[0][i] | safe}}</div>

      {% endfor %}  -->

    </div>

  </div>
</div>
</body>
{% endblock %}


  <!-- <div class="logo">
    View
  </div>
  <section class="function_view">
    <center>
    <span class="login_text">View Schedule</span>
    <form>
    <table>
      <tr><td>Term# </td> <td><input type="number"></td></tr>
      <tr><td>Pillar  </td> <td><select name="pillar">
      <option value="-">-
      <option value="HASS">HASS
      <option value="ISTD">ISTD</select></td></tr>
    <tr><td>week# </td> <td><select name="week">
    <option value="-">-
    <option value="week1-15">week1-15
    <option value="exam">exam</select></td></tr>

    </table>
    <input type = "submit" value = "submit">
    </form> -->
    </center>
  </section>
  </main>

  <!--  <footer>
      <center>
        <p class="space_footer"></p>
      <hr>
      &copy eGenda 2019
    </center>
  </footer>-->
  <script>
  function myFunction() {
  alert("Logout");
  location.href="/";
  }
  </script>

<script>
$('#og_tabs').on('click', 'a[data-toggle="tab"]', function(e) {
  e.preventDefault();

  var $link = $(this);

  if (!$link.parent().hasClass('active')) {

    //remove active class from other tab-panes
    $('.tab-content:not(.' + $link.attr('href').replace('#','') + ') .tab-pane').removeClass('active');

    // click first submenu tab for active section
    $('a[href="' + $link.attr('href') + '_all"][data-toggle="tab"]').click();

    // activate tab-pane for active section
    $('.tab-content.' + $link.attr('href').replace('#','') + ' .tab-pane:first').addClass('active');
  }

});
</script>
</body>
</html>
